%h1 Home#index
%p Your data:

%p
  %b Imię i nazwisko:
  = @current_user.full_name

%p
  %b Email:
  = @current_user.email

%p
  %b Indeks:
  = @current_user.university_number

%p
  %b Nazwa uczelni wyższej:
  = @current_user.university_name

%p
  %b USOS ID:
  = @current_user.usos_id

- if @current_user&.university_teacher? || @current_user&.university_admin? || @current_user&.global_admin?
  %p
    = link_to "Your Story Groups", story_groups_path
