= link_to "Back to shop", story_group_items_path(@story_group)

%h1 Edit item

= form_with model: [@story_group, @item] do |f|
  %div
    = f.label :name
    = f.text_field :name

  %div
    = f.label :story_description
    = f.text_area :story_description

  %div
    = f.label :didactic_description
    = f.text_area :didactic_description

  %div
    = f.label :price
    = f.number_field :price

  %div
    = f.submit "Save"