%h1 New item

= form_with model: [@story_group, @item] do |f|
  %div
    = f.label :name, "Name"
    = f.text_field :name

  %div
    = f.label :story_description, "Story description"
    = f.text_area :story_description

  %div
    = f.label :didactic_description, "Didactic description"
    = f.text_area :didactic_description

  %br
  = f.submit "Add"