%p{style: "color: green"}= notice

- content_for :title, "Story groups"

%h1 Story groups

%div{id: "story_groups"}
  - @story_groups.each do |story_group|
    = render story_group
    %p
      = link_to "Show this story group", story_group
- if has_access_to_story_groups(@current_user) 
  %p
    = link_to "New story group", new_story_group_path

%p
  = link_to "Home", root_path
